name: Go
on: [push]
jobs:

  dep:
    name: Dep
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.12.9
        uses: actions/setup-go@v1
        with:
          go-version: 1.12.9
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:

      - name: Run golangci-lint
        run: golangci-lint run

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

      - name: Test
        run: go test

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Build
        run: go build -v .
